.digits{
    width: 200px;

}
.digits button{
    width: 60px;
    text-align: center;
    background-color: black;
    color: white;
}
.operators{
    width: 200px;
    font-size: 10px;
    display: flex;
    position: relative;
    left: 10px;
    
}
.operators button{
    width: 30px;
    text-align: center;
    background-color:black;
    color: white;
    font-size: 10px;
    text-align: center;
    
}
.display{
    background-color:purple;
    color:red;
    width: 180px;
    display: flex;
    justify-content: flex-end;
   

}
button:hover{
    background-color: red;
    color: black;
}
.App{
    
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
    
    
}
